.center {
  text-align: center;
}

.message-button {
  margin: 10px;
}

.message-nav-container {
  display: flex;
  justify-content: flex-end;
  padding: 5px 25px;
}

.loading-spinner-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  margin: 0 auto;
  padding: 10px 100px;
}

.table-container table {
  width: 100%;
  table-layout: fixed;
}

.table-container th,
.table-container td {
  max-width: 200px;
  width: 50%;
  word-wrap: break-word;
}
