<div class="loading-spinner-container" *ngIf="sendMessageLoading$ | async">
  <mat-spinner></mat-spinner>
</div>

<div class="message-nav-container">
  <button
    mat-raised-button
    mat-button
    color="primary"
    class="message-button"
    (click)="openFormDialog()"
  >
    Send Message
  </button>
</div>

<div>
  <h2 class="center" *ngIf="(messages$ | async)?.error as error">
    {{ error }}
  </h2>
  <div class="loading-spinner-container" *ngIf="(messages$ | async)?.loading">
    <mat-spinner></mat-spinner>
  </div>

  <div
    *ngIf="!(messages$ | async)?.loading && !(messages$ | async)?.error"
    class="table-container"
  >
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let message">{{ message.name }}</td>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="message">
          <th mat-header-cell *matHeaderCellDef>Message</th>
          <td mat-cell *matCellDef="let message">
            {{ message.message.substring(0, 100)
            }}<span *ngIf="message.message.length > 100">...</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of messages"
      >
      </mat-paginator>
    </div>
  </div>
</div>
