<mat-card class="dialog-container">
  <mat-card-header>
    <mat-card-title>Send message</mat-card-title>
  </mat-card-header>
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-form-field hideRequiredMarker class="full-width">
        <mat-label>Name:</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="messageForm.get('name')?.hasError('required')"
          >The `name` is required</mat-error
        >
      </mat-form-field>
      <mat-form-field hideRequiredMarker class="full-width">
        <mat-label>Message:</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="20"
          cdkAutosizeMaxRows="20"
          formControlName="message"
        ></textarea>
        <mat-error *ngIf="messageForm.get('message')?.hasError('required')"
          >The `message` is required</mat-error
        >
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!messageForm.valid"
      >
        Send
      </button>
    </mat-card-actions>
  </form>
</mat-card>
